default_mode "locked"
simplified_ui true
theme "tokyo-night"

keybinds {
    locked {
        bind "Ctrl s" { SwitchToMode "Normal"; }
    }
    normal {
        bind "v" {NewPane "Down"; SwitchToMode "Locked";}
        bind "s" {NewPane "Right"; SwitchToMode "Locked";}
        bind "c" {NewTab; SwitchToMode "Locked";}
        bind "h" {MoveFocus "Left"; SwitchToMode "Locked";}
        bind "j" "Enter" {MoveFocus "Down"; SwitchToMode "Locked";}
        bind "k" {MoveFocus "Up"; SwitchToMode "Locked";}
        bind "l" {MoveFocus "Right"; SwitchToMode "Locked";}
        bind "]" {GoToNextTab; SwitchToMode "Locked";}
        bind "[" {GoToPreviousTab; SwitchToMode "Locked";}
        bind ";" {ToggleFloatingPanes; SwitchToMode "Locked";}
        bind "r" {SwitchToMode "RenameTab"; TabNameInput 0;}
    }
    shared_except "locked" {
        bind "Ctrl s" { SwitchToMode "Locked"; }
        bind "Esc" {SwitchToMode "Locked";}
    }
    shared {
        unbind "Ctrl g"
    }
}

