default_mode "locked"
simplified_ui true
theme "tokyo-night"

keybinds {
    locked {
        unbind "Ctrl g"
        bind "Ctrl s" { SwitchToMode "Normal"; }
    }
    normal {
        bind "v" {NewPane "Down"; SwitchToMode "Locked";}
        bind "s" {NewPane "Right"; SwitchToMode "Locked";}
        bind "c" {NewTab; SwitchToMode "Locked";}
        bind "h" {MoveFocus "Left"; SwitchToMode "Locked";}
        bind "j" "Enter" {MoveFocus "Down"; SwitchToMode "Locked";}
        bind "k" {MoveFocus "Up"; SwitchToMode "Locked";}
        bind "l" {MoveFocus "Right"; SwitchToMode "Locked";}
        bind "]" {GoToNextTab; SwitchToMode "Locked";}
        bind "[" {GoToPreviousTab; SwitchToMode "Locked";}
        bind ";" {ToggleFloatingPanes; SwitchToMode "Locked";}
        bind "r" {SwitchToMode "RenameTab"; TabNameInput 0;}
    }
    shared_except "locked" {
        bind "Ctrl s" { SwitchToMode "Locked"; }
        bind "Esc" {SwitchToMode "Locked";}
        bind "Ctrl t" {
          LaunchOrFocusPlugin "https://github.com/rvcas/room/releases/latest/download/room.wasm" {
            floating true
            ignore_case true
            quick_jump true
          }; 
          SwitchToMode "Locked";
        }
        bind "Ctrl y" {
          LaunchOrFocusPlugin "https://github.com/karimould/zellij-forgot/releases/download/0.4.1/zellij_forgot.wasm" {
            "LOAD_ZELLIJ_BINDINGS" "true"
            floating true
          };
          SwitchToMode "Locked";
      }
    }
}
