[submodule "rbenv/plugins/rbenv-each"]
	path = rbenv/plugins/rbenv-each
  url = git@github.com:rbenv/rbenv-each.git
[submodule "rbenv/plugins/rbenv-default-gems"]
	path = rbenv/plugins/rbenv-default-gems
  url = git@github.com:rbenv/rbenv-default-gems.git
[submodule "rbenv/plugins/rbenv-ctags"]
	path = rbenv/plugins/rbenv-ctags
	url = git@github.com:tpope/rbenv-ctags.git
