snippet blog "markdown blog template"
---
title: ${1:title}
categories:
  - $2
tags:
  - $3
date: `!v strftime("%Y/%m/%d")`
filename: $4
---
# {{\$frontmatter.title}}
endsnippet

snippet tag "escaped tag"
\`<${0:content}>\`
endsnippet
