snippet temp "template with pug"
<template lang="pug">
  $0
</template>
endsnippet

snippet js "script with javascript"
<script>
export default {
  $0
}
</script>
endsnippet

snippet style "style with scss (scoped)"
<style lang="scss" scoped>
$0
</style>
endsnippet

snippet scaffold "scaffloding Vue SFC"
<template lang="pug">
 $0
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
endsnippet

